<?xml version="1.0"?>
<root>
  <!-- 
	  Translation and rotation of camera from its base link
   -->
	<property name="cam_px" value="1.2" />
	<property name="cam_py" value="0" />
	<property name="cam_pz" value="0.8" />
	<property name="cam_or" value="0" />
	<property name="cam_op" value="0.7" />
	<property name="cam_oy" value="3.14159" />
</root>


