<?xml version="1.0"?>

<!-- 

# ===================================== COPYRIGHT ===================================== #
#                                                                                       #
#  IFRA (Intelligent Flexible Robotics and Assembly) Group, CRANFIELD UNIVERSITY        #
#  Created on behalf of the IFRA Group at Cranfield University, United Kingdom          #
#  E-mail: IFRA@cranfield.ac.uk                                                         #
#                                                                                       #
#  Licensed under the Apache-2.0 License.                                               #
#  You may not use this file except in compliance with the License.                     #
#  You may obtain a copy of the License at: http://www.apache.org/licenses/LICENSE-2.0  #
#                                                                                       #
#  Unless required by applicable law or agreed to in writing, software distributed      #
#  under the License is distributed on an "as-is" basis, without warranties or          #
#  conditions of any kind, either express or implied. See the License for the specific  #
#  language governing permissions and limitations under the License.                    #
#                                                                                       #
#  IFRA Group - Cranfield University                                                    #
#  AUTHORS: Mikel Bueno Viso - Mikel.Bueno-Viso@cranfield.ac.uk                         #
#           Dr. Seemal Asif  - s.asif@cranfield.ac.uk                                   #
#           Prof. Phil Webb  - p.f.webb@cranfield.ac.uk                                 #
#                                                                                       #
#  Date: June, 2023.                                                                    #
#                                                                                       #
# ===================================== COPYRIGHT ===================================== #

# ======= CITE OUR WORK ======= #
# You can cite our work with the following statement:
# IFRA-Cranfield (2023) LinkPose Plugin for ROS2-Gazebo Simulation. URL: https://github.com/IFRA-Cranfield/IFRA_LinkPose.

-->

<robot name="box">

  <link name="box_LINK">
    <collision>
      <origin xyz= "0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size= "0.03 0.03 0.03" />
      </geometry>
      <surface>
        <contact>
          <collide_without_contact>false</collide_without_contact>
        </contact>
      </surface>
    </collision>

    <visual>
      <origin xyz= "0.0 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size= "0.03 0.03 0.03" />
      </geometry>
    </visual>

    <inertial>
      <origin xyz= "0.0 0.0 0.0" rpy="0 0 0"/>
      <mass value= "0.1" />
      <inertia
        ixx="0.000015" ixy="0.0"  ixz="0.0"
        iyy="0.000015" iyz="0.0"
        izz="0.000015" />
    </inertial>
  </link>

  <gazebo reference="box_LINK">
    <material>Gazebo/Orange</material>
    <mu1>100.0</mu1> 
    <mu2>100.0</mu2>
    <selfCollide>false</selfCollide> 
  </gazebo>

  <!-- LOAD LinkPose Gazebo (ROS2) PLUGIN: -->
  <gazebo>
    <plugin name="ros2_linkpose_plugin" filename="libros2_linkpose_plugin.so" >
      <link>box_LINK</link>
    </plugin>
  </gazebo>

</robot>