arm_controller:
  type: position_controllers/JointTrajectoryController
  joints:
     - joint_1
     - joint_2
     - joint_3
     - joint_4
     - joint_5
     - joint_6
  constraints:
      goal_time: 0.8
      stopped_velocity_tolerance: 0.05
      joint_1: {trajectory: 0.05, goal: 0.05}
      joint_2: {trajectory: 0.05, goal: 0.05}
      joint_3: {trajectory: 0.05, goal: 0.05}
      joint_4: {trajectory: 0.05, goal: 0.05}
      joint_5: {trajectory: 0.05, goal: 0.05}
      joint_6: {trajectory: 0.05, goal: 0.05}
  stop_trajectory_duration: 0.1
  state_publish_rate:  25
  action_monitor_rate: 10
 
# Tune the pid parameters if want to use pid controller
# gazebo_ros_control/pid_gains:
#   joint_1: {p: 1.0, i: 0.0, d: 0.0}
#   joint_2: {p: 1.0, i: 0.0, d: 0.0}
#   joint_3: {p: 1.0, i: 0.0, d: 0.0}
#   joint_4: {p: 1.0, i: 0.0, d: 0.0}
#   joint_5: {p: 1.0, i: 0.0, d: 0.0}
#   joint_6: {p: 1.0, i: 0.0, d: 0.0}