<?xml version="1.0"?>
<launch>
  <arg name="limited" default="true"/>
  <arg name="paused" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="debug" default="false" />
  <arg name="sim" default="true" />
  
  <!-- push robot_description to factory and spawn robot in gazebo -->
  <include file="$(find ur_gazebo)/launch/controller_utils.launch"/>
  <rosparam file="$(find ur_gazebo)/controller/arm_controller_ur5.yaml" command="load"/>
  <node name="arm_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn arm_controller" respawn="false" output="screen"/>

  <!-- Remap follow_joint_trajectory -->
  <remap if="$(arg sim)" from="/follow_joint_trajectory" to="/arm_controller/follow_joint_trajectory"/>

  <!-- Launch moveit -->
  <include file="$(find ur5_moveit_config)/launch/move_group.launch">
    <arg name="limited" default="$(arg limited)"/>
    <arg name="debug" default="$(arg debug)" />
  </include>

  <!-- <node name="ur5_gripper" pkg="ur5_gripper_demo" type="ur5_gripper.py" output="screen"/>
  <node name="ur5_mp" pkg="ur5_gripper_demo" type="ur5_pick_and_place.py" output="screen"/> -->

</launch>
